*{
  margin: 0;
}



.App {
text-align: center;
background-image: url(/src/background.png);
}

.home {
  text-align: center;
  background-image: url(/src/background.png);
  background-size: cover;
  height: 300vh;
  }

.movies-container{
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  margin: auto;
  margin-top: 2rem;
}

.celebrating{
  background-image: url(../src/components/Celebrating/background.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}