*{
  margin: 0;
}


.App {
text-align: center;
background-image: url(/src/background.png);
width: 100vw;
}


.movies-container{
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  margin: auto;
  margin-top: 2rem;
}